body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*100vh - Altura da tela*/
    font-family: "Verdana", sans-serif;
    background-color: #996e00;
}

div {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid #ffbb00;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #ffffff;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #254646;
}

label {
    font-weight: 700;
    color: #254646;
}

input {
    height: 25px;
    margin-bottom: 20px;
    padding: 1px;
    border: solid 1px #254646af;
    outline: none;
}

button {
    height: 40px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    margin: 15px 0;
    border: 0;
    border-radius: 10px;
    background-color: #eeae00;
    cursor: pointer;
}